<%= form_with model: pilot do |form|%>
  <div data-controller="tooltip">
    <%= form.hidden_field :user_id, value: current_user.id %>

    <%= form.label :name %> <span class="bi-info-circle-fill white" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"></span><br>
    <%= form.text_field :name %>
    <% pilot.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :call_sign %><br>
    <%= form.text_field :call_sign %>
    <% pilot.errors.full_messages_for(:call_sign).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :pronouns %><br>
    <%= form.text_field :pronouns %>
    <% pilot.errors.full_messages_for(:pronouns).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% pilot.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :bio %><br>
    <%= form.text_area :bio %>
    <% pilot.errors.full_messages_for(:bio).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="row text-center">
    <p>
    <div class="col">
      <%= form.label :sun %><br>
      <%= form.number_field :sun, value: 1, in: 1..4, step: 1, class: "text-center" %>
    </div>
    <div class="col">
      <%= form.label :moon %><br>
      <%= form.number_field :moon, value: 1, in: 1..4, step: 1, class: "text-center" %>
    </div>
    <div class="col">
      <%= form.label :shade %><br>
      <%= form.number_field :shade, value: 1, in: 1..4, step: 1, class: "text-center" %>
    </div>
  </div>
  
  <div>
      <%= form.label :image %>
      <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>