<div class="card spark-card pilot-card <% if pilot.spark %> spark-card-<%= pilot.spark.name.downcase %> <% end %>">
  <% if pilot.image.attached? %>
    <%= image_tag pilot.image, class: "pilot-img" %>
  <% else %>
    <%= image_tag 'no_img.png', class: "pilot-img" %>
  <% end %>
  <div class="card-body">
    <div class="">
      
      <div class="pilot-card-text">
        <a href=<%= pilot_path pilot %> class="stretched-link link-unstyled"><h4 class="card-title text-truncate"><%= pilot.name %></h4><a>
        <h5 class="card-subtitle text-muted text-truncate"><%= pilot.call_sign %></h5>
        <p class="card-text text-truncate"><%= pilot.bio %></p>
      </div>      
    </div>
  </div>
</div>
